{% extends 'wedding/wedding-base.html.twig' %}

{% block page_heading %}
  <h1 class="h2">
    {{ 'wedding-details'|trans }}

    {{ weddingDetailsDto.name }}
  </h1>

  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <a
          href="{{ path('wedding_task_group_create', { weddingId: weddingDetailsDto.id }) }}"
          class="btn btn-sm btn-outline-primary">
        {{ 'add'|trans }}
      </a>
    </div>
  </div>
{% endblock %}

{% block tab_content %}
  <div class="table-responsive mb-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            #
          </th>

          <th>
            {{ 'name'|trans }}
          </th>

          <th>
            {{ 'actions'|trans }}
          </th>
        </tr>
      </thead>

      <tbody>
        {% if taskGroupsListItemDto|length == 0 %}
          {% include 'partial/_empty-list-row.html.twig' with { emptyRowColspan: 8 } only %}
        {% endif %}

        {% for taskGroupDto in taskGroupsListItemDto %}
          <tr>
            <td>
              {{ loop.index }}
            </td>

            <td>
              {{ taskGroupDto.name }}
            </td>

            <td class="d-flex">
              <a
                  href="{{ path('wedding_task_group_details', { weddingId: weddingDetailsDto.id, id: taskGroupDto.id }) }}"
                  class="btn btn-primary btn-sm me-1"
                  data-controller="tooltip"
                  data-bs-title="{{ 'details'|trans }}">
                <i class="bi bi-eye"></i>
              </a>

              <a
                  href="{{ path('wedding_task_group_update', { weddingId: weddingDetailsDto.id, id: taskGroupDto.id }) }}"
                  class="btn btn-secondary btn-sm me-1"
                  data-controller="tooltip"
                  data-bs-title="{{ 'edit'|trans }}">
                <i class="bi bi-pencil"></i>
              </a>

              <form
                  action="{{ path('wedding_task_group_delete', { weddingId: weddingDetailsDto.id, id: taskGroupDto.id }) }}"
                  method="post">
                <button
                    type="submit" class="btn btn-danger btn-sm"
                    data-controller="tooltip"
                    data-bs-title="{{ 'delete'|trans }}">
                  <i class="bi bi-trash3"></i>
                </button>

                <input type="hidden" name="_method" value="DELETE">
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}