{% extends 'dashboard-base.html.twig' %}

{% block title %}
  {{ 'guest-details'|trans }}
{% endblock %}

{% block page_heading %}
  <h1 class="h2">
    {{ 'guest-details'|trans }}

    {{ guestDetailsDto.firstName }}

    {{ guestDetailsDto.lastName }}
  </h1>

  <a
      href="{{ path('wedding_guest_update', { weddingId: weddingId, id: guestDetailsDto.id }) }}"
      class="btn btn-primary"
      data-bs-toggle="tooltip"
      data-bs-title="{{ 'edit'|trans }}">
    <i class="bi bi-pencil"></i>
  </a>
{% endblock %}

{% block page_content %}
  <table class="table">
    <tbody>
      <tr>
        <td>
          {{ 'first-name'|trans }}
        </td>

        <td>
          {{ guestDetailsDto.firstName }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'last-name'|trans }}
        </td>

        <td>
          {{ guestDetailsDto.lastName }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'guest-type'|trans }}
        </td>

        <td>
          {{ guestDetailsDto.type|trans }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'invited'|trans }}
        </td>

        <td>
          {{ guestDetailsDto.invited|yesOrNo }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'confirmed'|trans }}
        </td>

        <td>
          {{ guestDetailsDto.confirmed|yesOrNo }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'accommodation'|trans }}
        </td>

        <td>
          {{ guestDetailsDto.accommodation|yesOrNo }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'transport'|trans }}
        </td>

        <td>
          {{ guestDetailsDto.transport|yesOrNo }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'diet-type'|trans }}
        </td>

        <td>
          {{ guestDetailsDto.dietType|trans }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'note'|trans }}
        </td>

        <td>
          {{ guestDetailsDto.note }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'telephone'|trans }}
        </td>

        <td>
          {{ guestDetailsDto.telephone }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'email'|trans }}
        </td>

        <td>
          {{ guestDetailsDto.email }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'payment'|trans }}
        </td>

        <td>
          {{ guestDetailsDto.payment }}%
        </td>
      </tr>

      <tr>
        <td>
          {{ 'guest-groups'|trans }}
        </td>

        <td>
          {% for groupName in guestDetailsDto.groupNames %}
            <span class="badge text-bg-primary">
              {{ groupName }}
            </span>
          {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>

  <a href="{{ path('wedding_guest_list', { weddingId: weddingId }) }}">
    {{ 'back-to-list'|trans }}
  </a>
{% endblock %}