{% extends 'dashboard-base.html.twig' %}

{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{% block title %}
  {{ 'guest-details'|trans }}
{% endblock %}

{% block page_heading %}
  <h1 class="h3 mb-2 mb-sm-0">
    {{ 'guest-details'|trans }}

    {{ guestDetailsDto.firstName }}

    {{ guestDetailsDto.lastName }}
  </h1>

  <a
      href="{{ path('wedding_guest_update', { weddingId: weddingDetailsDto.id, id: guestDetailsDto.id }) }}"
      class="btn btn-primary"
      data-controller="tooltip"
      data-bs-title="{{ 'edit'|trans }}">
    <i class="bi bi-pencil"></i>
  </a>
{% endblock %}

{% block breadcrumbs %}
  {{ breadcrumbs.render([
    { text: 'wedding-planner'|trans },
    { url: path('wedding_list'), text: 'wedding-list'|trans },
    { url: path('wedding_details', { id: weddingDetailsDto.id }), text: weddingDetailsDto.name },
    { url: path('wedding_guest_list', { weddingId: weddingDetailsDto.id }), text: 'guest-list'|trans },
    { text: guestDetailsDto.firstName ~ ' ' ~ guestDetailsDto.lastName }
  ]) }}
{% endblock %}

{% block page_content %}
  <div class="card shadow">
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <td>
              {{ 'first-name'|trans }}
            </td>

            <td>
              {{ guestDetailsDto.firstName }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'last-name'|trans }}
            </td>

            <td>
              {{ guestDetailsDto.lastName }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'guest-type'|trans }}
            </td>

            <td>
              {{ guestDetailsDto.type|trans }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'invited'|trans }}
            </td>

            <td>
              {{ guestDetailsDto.invited|yesOrNo }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'confirmed'|trans }}
            </td>

            <td>
              {{ guestDetailsDto.confirmed|yesOrNo }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'accommodation'|trans }}
            </td>

            <td>
              {{ guestDetailsDto.accommodation|yesOrNo }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'transport'|trans }}
            </td>

            <td>
              {{ guestDetailsDto.transport|yesOrNo }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'diet-type'|trans }}
            </td>

            <td>
              {{ guestDetailsDto.dietType|trans }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'note'|trans }}
            </td>

            <td>
              {{ guestDetailsDto.note }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'telephone'|trans }}
            </td>

            <td>
              {{ guestDetailsDto.telephone }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'email'|trans }}
            </td>

            <td>
              {{ guestDetailsDto.email }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'payment'|trans }}
            </td>

            <td>
              {{ guestDetailsDto.payment }}%
            </td>
          </tr>

          <tr>
            <td>
              {{ 'guest-group'|trans }}
            </td>

            <td>
              {% if guestDetailsDto.groupName is not null %}
                <span class="badge text-bg-primary">
              {{ guestDetailsDto.groupName }}
            </span>
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'table'|trans }}
            </td>

            <td>
              {% if guestDetailsDto.tableName is not null %}
                <span class="badge text-bg-primary">
              {{ guestDetailsDto.tableName }}
            </span>
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'group-order-no'|trans }}
            </td>

            <td>
              {{ guestDetailsDto.groupOrderNo }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'table-order-no'|trans }}
            </td>

            <td>
              {{ guestDetailsDto.tableOrderNo }}
            </td>
          </tr>
        </tbody>
      </table>

      <a href="{{ path('wedding_guest_list', { weddingId: weddingDetailsDto.id }) }}">
        {{ 'back-to-list'|trans }}
      </a>
    </div>
  </div>
{% endblock %}