{% extends 'dashboard-base.html.twig' %}

{% block title %}
  {{ 'wedding-details'|trans }}

  {{ weddingDetailsDto.name }}
{% endblock %}

{% block page_content %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
          class="nav-link {{ getActualRouteName()|activeRouteName('wedding_details', 'active') }}"
          href="{{ path('wedding_details', { id: weddingDetailsDto.id }) }}">
        {{ 'details'|trans }}
      </a>
    </li>

    <li class="nav-item">
      <a
          class="nav-link {{ getActualRouteName()|activeRouteName('wedding_guest_list', 'active') }}"
          href="{{ path('wedding_guest_list', { weddingId: weddingDetailsDto.id }) }}">
        {{ 'guest-list'|trans }}
      </a>
    </li>

    <li class="nav-item">
      <a
          class="nav-link {{ getActualRouteName()|activeRouteName('wedding_guest_group_list', 'active') }}"
          href="{{ path('wedding_guest_group_list', { weddingId: weddingDetailsDto.id }) }}">
        {{ 'guest-group-list'|trans }}
      </a>
    </li>

    <li class="nav-item">
      <a
          class="nav-link {{ getActualRouteName()|activeRouteName('wedding_cost_estimate_list', 'active') }}"
          href="{{ path('wedding_cost_estimate_list', { weddingId: weddingDetailsDto.id }) }}">
        {{ 'wedding-cost-estimate-list'|trans }}
      </a>
    </li>

    <li class="nav-item">
      <a
          class="nav-link {{ getActualRouteName()|activeRouteName('wedding_cost_estimate_group_list', 'active') }}"
          href="{{ path('wedding_cost_estimate_group_list', { weddingId: weddingDetailsDto.id }) }}">
        {{ 'cost-estimate-group-list'|trans }}
      </a>
    </li>

    <li class="nav-item">
      <a
          class="nav-link {{ getActualRouteName()|activeRouteName('wedding_table_list', 'active') }}"
          href="{{ path('wedding_table_list', { weddingId: weddingDetailsDto.id }) }}">
        {{ 'table-list'|trans }}
      </a>
    </li>

    <li class="nav-item">
      <a
          class="nav-link {{ getActualRouteName()|activeRouteName('wedding_task_list', 'active') }}"
          href="{{ path('wedding_task_list', { weddingId: weddingDetailsDto.id }) }}">
        {{ 'task-list'|trans }}
      </a>
    </li>

    <li class="nav-item">
      <a
          class="nav-link {{ getActualRouteName()|activeRouteName('wedding_task_group_list', 'active') }}"
          href="{{ path('wedding_task_group_list', { weddingId: weddingDetailsDto.id }) }}">
        {{ 'task-group-list'|trans }}
      </a>
    </li>

    <li class="nav-item">
      <a
          class="nav-link {{ getActualRouteName()|activeRouteName('wedding_user_list', 'active') }}"
          href="{{ path('wedding_user_list', { weddingId: weddingDetailsDto.id }) }}">
        {{ 'wedding-user-list'|trans }}
      </a>
    </li>
  </ul>

  <div class="tab-content mt-3">
    {% block tab_content %}{% endblock %}

    <a href="{{ path('wedding_list') }}">
      {{ 'back-to-list'|trans }}
    </a>
  </div>
{% endblock %}