<div class="accordion">
  <div class="accordion-item mb-3">
    <div class="d-flex justify-content-between">
      <div class="accordion-header flex-fill">
        <div
            class="accordion-button fw-bold"
            role="button"
            data-bs-toggle="collapse"
            data-bs-target="#task-group-{{ accordionItemId }}"
            aria-expanded="true"
            data-controller="table-rename"
            data-table-rename-id-value="{{ accordionItemId }}"
            data-table-rename-wedding-id-value="{{ weddingId }}">
          <span data-table-rename-target="text">
            {{ accordionItemName }}
          </span>

          <div
              class="d-flex"
              data-bs-toggle="collapse"
              data-bs-target>
            <button
                class="btn"
                data-action="click->table-rename#clickRename"
                data-table-rename-target="rename">
              <i
                  class="bi bi-input-cursor-text"
                  data-bs-toggle="tooltip"
                  data-bs-title="{{ 'rename'|trans }}"></i>
            </button>

            <label for="table-rename-{{ accordionItemId }}" class="visually-hidden form-label">
              {{ 'rename'|trans }}
            </label>

            <input
                data-table-rename-target="input"
                id="table-rename-{{ accordionItemId }}"
                class="d-none form-control"
                type="text"
                value="{{ accordionItemName }}">

            <button
                class="btn d-none"
                data-action="click->table-rename#clickSave"
                data-table-rename-target="save">
              <i
                  class="bi bi-check-circle"
                  data-bs-toggle="tooltip"
                  data-bs-title="{{ 'save'|trans }}"></i>
            </button>

            <button
                class="btn d-none"
                data-action="click->table-rename#clickCancel"
                data-table-rename-target="cancel">
              <i
                  class="bi bi-x-circle"
                  data-bs-toggle="tooltip"
                  data-bs-title="{{ 'cancel'|trans }}"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="dropdown align-self-center">
        <button class="btn text-primary border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-gear"></i>
        </button>

        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="{{ path('wedding_table_details', { weddingId: weddingId, id: groupId }) }}">
              {{ 'details'|trans }}
            </a>
          </li>

          <li>
            <a class="dropdown-item" href="{{ path('wedding_table_update', { weddingId: weddingId, id: groupId }) }}">
              {{ 'edit'|trans }}
            </a>
          </li>

          <li>
            <form
                action="{{ path('wedding_table_delete', { weddingId: weddingId, id: groupId }) }}"
                method="post">
              <button type="submit" class="dropdown-item">
                {{ 'delete'|trans }}
              </button>

              <input type="hidden" name="_method" value="DELETE">
            </form>
          </li>
        </ul>
      </div>
    </div>

    <div id="task-group-{{ accordionItemId }}" class="accordion-collapse collapse show">
      <div class="accordion-body table-responsive">
        <table class="table table-hove">
          <thead>
            <tr>
              <th>
                #
              </th>

              <th>
                {{ 'first-name'|trans }}
              </th>

              <th>
                {{ 'last-name'|trans }}
              </th>
            </tr>
          </thead>

          <tbody
              data-controller="table-drag-and-drop"
              data-task-drag-and-drop-wedding-id-value="{{ weddingId }}"
              data-group-id="{{ groupId }}">
            {% if guestsListItemDto|length == 0 %}
              {% include 'partial/_empty-list-row.html.twig' with { emptyRowColspan: 3 } only %}
            {% endif %}

            {% for guestDto in guestsListItemDto %}
              <tr data-guest-id="{{ guestDto.id }}">
                <td>
                  <i class="bi bi-list handle"></i>
                </td>

                <td>
                  {{ guestDto.firstName }}
                </td>

                <td>
                  {{ guestDto.lastName }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>