{% extends 'wedding/wedding-base.html.twig' %}

{% block page_heading %}
  <h1 class="h2">
    {{ 'wedding-details'|trans }}

    {{ weddingDetailsDto.name }}
  </h1>

  <a
      href="{{ path('wedding_cost_estimate_create', { weddingId: weddingDetailsDto.id }) }}"
      class="btn btn-primary"
      data-bs-toggle="tooltip"
      data-bs-title="{{ 'add'|trans }}">
    <i class="bi bi-plus-circle"></i>
  </a>
{% endblock %}

{% block tab_content %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            #
          </th>

          <th>
            {{ 'name'|trans }}
          </th>

          <th>
            {{ 'estimate-cost'|trans }}
          </th>

          <th>
            {{ 'real-cost'|trans }}
          </th>

          <th>
            {{ 'quantity'|trans }}
          </th>

          <th>
            {{ 'unit-type'|trans }}
          </th>

          <th>
            {{ 'depends-on-guests'|trans }}
          </th>

          <th>
            {{ 'actions'|trans }}
          </th>
        </tr>
      </thead>

      <tbody>
        {% for weddingCostEstimateDto in weddingCostEstimatesListItemDto %}
          <tr>
            <td>
              {{ loop.index }}
            </td>

            <td>
              {{ weddingCostEstimateDto.name }}
            </td>

            <td>
              {{ weddingCostEstimateDto.estimate|money_format }}
            </td>

            <td>
              {{ weddingCostEstimateDto.real|money_format }}
            </td>

            <td>
              {{ weddingCostEstimateDto.quantity }}
            </td>

            <td>
              {{ weddingCostEstimateDto.unitType|trans }}
            </td>

            <td>
              {{ weddingCostEstimateDto.dependsOnGuests|yesOrNo }}
            </td>

            <td class="d-flex">
              <a
                  href="{{ path('wedding_cost_estimate_details', { weddingId: weddingDetailsDto.id, id: weddingCostEstimateDto.id }) }}"
                  class="btn btn-primary btn-sm me-1"
                  data-bs-toggle="tooltip"
                  data-bs-title="{{ 'details'|trans }}">
                <i class="bi bi-eye"></i>
              </a>

              <a
                  href="{{ path('wedding_cost_estimate_update', { weddingId: weddingDetailsDto.id, id: weddingCostEstimateDto.id }) }}"
                  class="btn btn-secondary btn-sm me-1"
                  data-bs-toggle="tooltip"
                  data-bs-title="{{ 'edit'|trans }}">
                <i class="bi bi-pencil"></i>
              </a>

              <form
                  action="{{ path('wedding_cost_estimate_delete', { weddingId: weddingDetailsDto.id, id: weddingCostEstimateDto.id }) }}"
                  method="post">
                <button
                    type="submit" class="btn btn-danger btn-sm"
                    data-bs-toggle="tooltip"
                    data-bs-title="{{ 'delete'|trans }}">
                  <i class="bi bi-trash3"></i>
                </button>

                <input type="hidden" name="_method" value="DELETE">
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}