{% extends 'wedding/wedding-base.html.twig' %}

{% block page_heading %}
  <h1 class="h2">
    {{ 'wedding-details'|trans }}

    {{ weddingDetailsDto.name }}
  </h1>

  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <a
          href="{{ path('wedding_task_create', { weddingId: weddingDetailsDto.id }) }}"
          class="btn btn-sm btn-outline-primary">
        {{ 'add'|trans }}
      </a>
    </div>
  </div>
{% endblock %}

{% block tab_content %}
  <div class="row">
    <div class="col-12 col-md-8">
      {% for taskGroupBuildRowDto in taskGroupBuildDto.tasksGroupsBuildRowDto %}
        {% include 'wedding/task/list/partial/_accordion.html.twig' with {
          accordionItemId: taskGroupBuildRowDto.taskGroupListItemDto.id,
          accordionItemName: taskGroupBuildRowDto.taskGroupListItemDto.name,
          tasksListItemDto: taskGroupBuildRowDto.tasksListItemDto,
          weddingId: weddingDetailsDto.id,
          groupId: taskGroupBuildRowDto.taskGroupListItemDto.id
        } only %}
      {% endfor %}

      <div id="created-groups-container"></div>

      {% include 'wedding/task/list/partial/_accordion.html.twig' with {
        accordionItemId: 'ungrouped',
        accordionItemName: 'ungrouped'|trans,
        tasksListItemDto: ungroupedTasksListItemDto,
        weddingId: weddingDetailsDto.id,
        groupId: null
      } only %}
    </div>

    <div class="col-12 col-md-4">
      <div
          data-controller="task-calendar"
          data-task-calendar-wedding-id-value="{{ weddingDetailsDto.id }}"
          data-task-calendar-locale-value="{{ app.locale() }}"></div>
    </div>
  </div>

  <div class="row">
    {% block groupSimpleCreateForm %}
      {% include 'partial/_simple-create-group-form.html.twig' with { groupSimpleCreateForm: groupSimpleCreateForm } only %}
    {% endblock %}
  </div>

  <div class="row text-center">
    <div class="col-12 col-md-3 mb-3 mb-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-check2-circle"></i>
          </h5>

          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ 'completed'|trans }}
          </h6>

          <p class="card-text">
            {{ taskGroupBuildDto.completedAmount }}/{{ taskGroupBuildDto.tasksAmount }}
          </p>

          <div class="progress" style="height: 25px;">
            <div class="progress-bar progress-bar-striped" style="width: {{ taskGroupBuildDto.completedPercentage }}%;">
              {{ taskGroupBuildDto.completedPercentage }}%
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-clock-history"></i>
          </h5>

          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ 'expired'|trans }}
          </h6>

          <p class="card-text">
            {{ taskGroupBuildDto.expiredAmount }}
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block success_create_group_stream %}
  <turbo-stream action="replace" targets="#simple-create-group-row">
    <template>
      {{ block('groupSimpleCreateForm') }}
    </template>
  </turbo-stream>

  <turbo-stream action="append" targets="#created-groups-container">
    <template>
      {% include 'wedding/task/list/partial/_accordion.html.twig' with {
        accordionItemId: createdTaskGroupDetailsDto.id,
        accordionItemName: createdTaskGroupDetailsDto.name,
        tasksListItemDto: [],
        weddingId: weddingId,
        groupId: createdTaskGroupDetailsDto.id
      } only %}
    </template>
  </turbo-stream>
{% endblock %}
