{% extends 'dashboard-base.html.twig' %}

{% block title %}
  {{ 'wedding-cost-estimate-details'|trans }}
{% endblock %}

{% block page_heading %}
  <h1 class="h2">
    {{ 'wedding-cost-estimate-details'|trans }}

    {{ weddingCostEstimateDetailsDto.name }}
  </h1>

  <a
      href="{{ path('wedding_cost_estimate_update', { weddingId: weddingId, id: weddingCostEstimateDetailsDto.id }) }}"
      class="btn btn-primary"
      data-bs-toggle="tooltip"
      data-bs-title="{{ 'edit'|trans }}">
    <i class="bi bi-pencil"></i>
  </a>
{% endblock %}

{% block page_content %}
  <table class="table">
    <tbody>
      <tr>
        <td>
          {{ 'name'|trans }}
        </td>

        <td>
          {{ weddingCostEstimateDetailsDto.name }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'description'|trans }}
        </td>

        <td>
          {{ weddingCostEstimateDetailsDto.description }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'estimate-cost'|trans }}
        </td>

        <td>
          {{ weddingCostEstimateDetailsDto.estimate|money_format }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'real-cost'|trans }}
        </td>

        <td>
          {{ weddingCostEstimateDetailsDto.real|money_format }}
        </td>
      </tr>
    </tbody>
  </table>

  <a href="{{ path('wedding_cost_estimate_list', { weddingId: weddingId }) }}">
    {{ 'back-to-list'|trans }}
  </a>
{% endblock %}