{% extends 'dashboard-base.html.twig' %}

{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{% block title %}
  {{ 'cost-estimate-details'|trans }}
{% endblock %}

{% block page_heading %}
  <h1 class="h3 mb-2 mb-sm-0">
    {{ 'cost-estimate-details'|trans }}

    {{ costEstimateDetailsDto.name }}
  </h1>

  <a
      href="{{ path('wedding_cost_estimate_update', { weddingId: weddingDetailsDto.id, id: costEstimateDetailsDto.id }) }}"
      class="btn btn-primary"
      data-controller="tooltip"
      data-bs-title="{{ 'edit'|trans }}">
    <i class="bi bi-pencil"></i>
  </a>
{% endblock %}

{% block breadcrumbs %}
  {{ breadcrumbs.render([
    { text: 'wedding-planner'|trans },
    { url: path('wedding_list'), text: 'wedding-list'|trans },
    { url: path('wedding_details', { id: weddingDetailsDto.id }), text: weddingDetailsDto.name },
    { url: path('wedding_cost_estimate_list', { weddingId: weddingDetailsDto.id }), text: 'cost-estimate-list'|trans },
    { text: costEstimateDetailsDto.name }
  ]) }}
{% endblock %}

{% block page_content %}
  <div class="card shadow">
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <td>
              {{ 'name'|trans }}
            </td>

            <td>
              {{ costEstimateDetailsDto.name }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'description'|trans }}
            </td>

            <td>
              {{ costEstimateDetailsDto.description }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'cost'|trans }}
            </td>

            <td>
              {{ costEstimateDetailsDto.cost|money_format }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'advance-payment'|trans }}
            </td>

            <td>
              {{ costEstimateDetailsDto.advancePayment|money_format }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'paid'|trans }}
            </td>

            <td>
              {{ costEstimateDetailsDto.paid|money_format }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'quantity'|trans }}
            </td>

            <td>
              {{ costEstimateDetailsDto.quantity }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'unit-type'|trans }}
            </td>

            <td>
              {{ costEstimateDetailsDto.unitType|trans }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'depends-on-guests'|trans }}
            </td>

            <td>
              {{ costEstimateDetailsDto.dependsOnGuests|yesOrNo }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'group'|trans }}
            </td>

            <td>
              {% if costEstimateDetailsDto.groupName is not null %}
                <span class="badge text-bg-primary">
              {{ costEstimateDetailsDto.groupName }}
            </span>
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'order-no'|trans }}
            </td>

            <td>
              {{ costEstimateDetailsDto.orderNo }}
            </td>
          </tr>
        </tbody>
      </table>

      <a href="{{ path('wedding_cost_estimate_list', { weddingId: weddingDetailsDto.id }) }}">
        {{ 'back-to-list'|trans }}
      </a>
    </div>
  </div>
{% endblock %}