{% extends 'dashboard-base.html.twig' %}

{% block title %}
  {{ 'cost-estimate-details'|trans }}
{% endblock %}

{% block page_heading %}
  <h1 class="h2">
    {{ 'cost-estimate-details'|trans }}

    {{ costEstimateDetailsDto.name }}
  </h1>

  <a
      href="{{ path('wedding_cost_estimate_update', { weddingId: weddingId, id: costEstimateDetailsDto.id }) }}"
      class="btn btn-primary"
      data-bs-toggle="tooltip"
      data-bs-title="{{ 'edit'|trans }}">
    <i class="bi bi-pencil"></i>
  </a>
{% endblock %}

{% block page_content %}
  <table class="table">
    <tbody>
      <tr>
        <td>
          {{ 'name'|trans }}
        </td>

        <td>
          {{ costEstimateDetailsDto.name }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'description'|trans }}
        </td>

        <td>
          {{ costEstimateDetailsDto.description }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'estimate-cost'|trans }}
        </td>

        <td>
          {{ costEstimateDetailsDto.estimate|money_format }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'real-cost'|trans }}
        </td>

        <td>
          {{ costEstimateDetailsDto.real|money_format }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'quantity'|trans }}
        </td>

        <td>
          {{ costEstimateDetailsDto.quantity }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'unit-type'|trans }}
        </td>

        <td>
          {{ costEstimateDetailsDto.unitType|trans }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'depends-on-guests'|trans }}
        </td>

        <td>
          {{ costEstimateDetailsDto.dependsOnGuests|yesOrNo }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'group'|trans }}
        </td>

        <td>
          {% if costEstimateDetailsDto.groupName is not null %}
            <span class="badge text-bg-primary">
              {{ costEstimateDetailsDto.groupName }}
            </span>
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'order-no'|trans }}
        </td>

        <td>
          {{ costEstimateDetailsDto.orderNo }}
        </td>
      </tr>
    </tbody>
  </table>

  <a href="{{ path('wedding_cost_estimate_list', { weddingId: weddingId }) }}">
    {{ 'back-to-list'|trans }}
  </a>
{% endblock %}