{% extends 'wedding/wedding-base.html.twig' %}

{% block page_heading %}
  <h1 class="h2">
    {{ 'wedding-details'|trans }}

    {{ weddingDetailsDto.name }}
  </h1>

  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group">
      <a
          href="{{ path('wedding_cost_estimate_create', { weddingId: weddingDetailsDto.id }) }}"
          class="btn btn-sm btn-outline-primary">
        {{ 'add'|trans }}
      </a>
    </div>
  </div>
{% endblock %}

{% block tab_content %}
  {% for costEstimateGroupBuildDto in costEstimateGroupsBuildDto %}
    {% include 'wedding/cost-estimate/list/partial/_accordion.html.twig' with {
      accordionItemId: costEstimateGroupBuildDto.costEstimateGroupListItemDto.id,
      accordionItemName: costEstimateGroupBuildDto.costEstimateGroupListItemDto.name,
      costEstimatesListItemDto: costEstimateGroupBuildDto.costEstimatesListItemDto,
      weddingId: weddingDetailsDto.id,
      groupId: costEstimateGroupBuildDto.costEstimateGroupListItemDto.id
    } only %}
  {% endfor %}

  <div id="created-groups-container"></div>

  {% include 'wedding/cost-estimate/list/partial/_accordion.html.twig' with {
    accordionItemId: 'ungrouped',
    accordionItemName: 'ungrouped'|trans,
    costEstimatesListItemDto: ungroupedCostEstimatesListItemDto,
    weddingId: weddingDetailsDto.id,
    groupId: null
  } only %}

  {% block groupSimpleCreateForm %}
    {% include 'partial/_simple-create-group-form.html.twig' with { groupSimpleCreateForm: groupSimpleCreateForm } only %}
  {% endblock %}

  <div class="row text-center">
    <div class="col-12 col-md-3 mb-3 mb-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-currency-dollar"></i>
          </h5>

          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ 'budget'|trans }}
          </h6>

          <p class="card-text">
            {{ weddingDetailsDto.budget|money_format }}
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-3 mb-3 mb-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-currency-dollar"></i>
          </h5>

          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ 'estimate-cost'|trans }}
          </h6>

          <p class="card-text">
            {{ costEstimateCalculatedDto.estimateCost|money_format }}
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-3 mb-3 mb-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-currency-dollar"></i>
          </h5>

          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ 'real-cost'|trans }}
          </h6>

          <p class="card-text">
            {{ costEstimateCalculatedDto.realCost|money_format }}
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-currency-dollar"></i>
          </h5>

          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ 'to-pay'|trans }}
          </h6>

          <p class="card-text">
            {{ costEstimateCalculatedDto.toPay|money_format }}
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block success_create_group_stream %}
  <turbo-stream action="replace" targets="#simple-create-group-row">
    <template>
      {{ block('groupSimpleCreateForm') }}
    </template>
  </turbo-stream>

  <turbo-stream action="append" targets="#created-groups-container">
    <template>
      {% include 'wedding/cost-estimate/list/partial/_accordion.html.twig' with {
        accordionItemId: createdCostEstimateGroupDetailsDto.id,
        accordionItemName: createdCostEstimateGroupDetailsDto.name,
        costEstimatesListItemDto: [],
        weddingId: weddingId,
        groupId: createdCostEstimateGroupDetailsDto.id
      } only %}
    </template>
  </turbo-stream>
{% endblock %}
