{% extends 'wedding/wedding-base.html.twig' %}

{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{% block page_heading %}
  <h1 class="h3 mb-2 mb-sm-0">
    {{ 'wedding-details'|trans }}

    {{ weddingDetailsDto.name }}
  </h1>

  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group">
      <a
          href="{{ path('wedding_cost_estimate_create', { weddingId: weddingDetailsDto.id }) }}"
          class="btn btn-sm btn-outline-primary">
        {{ 'add'|trans }}
      </a>
    </div>
  </div>
{% endblock %}

{% block breadcrumbs %}
  {{ breadcrumbs.render([
    { text: 'wedding-planner'|trans },
    { url: path('wedding_list'), text: 'wedding-list'|trans },
    { url: path('wedding_details', { id: weddingDetailsDto.id }), text: weddingDetailsDto.name },
    { text: 'cost-estimate-list'|trans }
  ]) }}
{% endblock %}

{% block tab_content %}
  {% for costEstimateGroupBuildDto in costEstimateGroupsBuildDto %}
    {% include 'wedding/cost-estimate/list/partial/_accordion.html.twig' with {
      accordionItemId: costEstimateGroupBuildDto.costEstimateGroupListItemDto.id,
      accordionItemName: costEstimateGroupBuildDto.costEstimateGroupListItemDto.name,
      costEstimatesListItemDto: costEstimateGroupBuildDto.costEstimatesListItemDto,
      weddingId: weddingDetailsDto.id,
      groupId: costEstimateGroupBuildDto.costEstimateGroupListItemDto.id
    } only %}
  {% endfor %}

  <div id="created-groups-container"></div>

  {% include 'wedding/cost-estimate/list/partial/_accordion.html.twig' with {
    accordionItemId: 'ungrouped',
    accordionItemName: 'ungrouped'|trans,
    costEstimatesListItemDto: ungroupedCostEstimatesListItemDto,
    weddingId: weddingDetailsDto.id,
    groupId: null
  } only %}

  {% block groupSimpleCreateForm %}
    {% include 'partial/_simple-create-group-form.html.twig' with { groupSimpleCreateForm: groupSimpleCreateForm } only %}
  {% endblock %}

  <div class="row text-center">
    <div class="col-12 col-md-4 mb-3 mb-md-0">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-currency-dollar"></i>
          </h5>

          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ 'budget'|trans }}
          </h6>

          <p class="card-text">
            {{ weddingDetailsDto.budget|money_format }}
          </p>

          <div class="progress" style="height: 25px;">
            <div
                class="progress-bar progress-bar-striped {{ costEstimateCalculatedDto.budgetPercentage > 100 ? 'bg-danger' : 'bg-primary' }}"
                style="width: {{ costEstimateCalculatedDto.budgetPercentage }}%;">
              {{ costEstimateCalculatedDto.budgetPercentage }}%
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-2 mb-3 mb-md-0">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-currency-dollar"></i>
          </h5>

          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ 'cost'|trans }}
          </h6>

          <p class="card-text">
            {{ costEstimateCalculatedDto.cost|money_format }}
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-2 mb-3 mb-md-0">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-currency-dollar"></i>
          </h5>

          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ 'advance-payment'|trans }}
          </h6>

          <p class="card-text">
            {{ costEstimateCalculatedDto.advancePayment|money_format }}
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-2 mb-3 mb-md-0">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-currency-dollar"></i>
          </h5>

          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ 'paid'|trans }}
          </h6>

          <p class="card-text">
            {{ costEstimateCalculatedDto.paid|money_format }}
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-2">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-currency-dollar"></i>
          </h5>

          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ 'to-pay'|trans }}
          </h6>

          <p class="card-text">
            {{ costEstimateCalculatedDto.toPay|money_format }}
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block success_create_group_stream %}
  <turbo-stream action="replace" targets="#simple-create-group-row">
    <template>
      {{ block('groupSimpleCreateForm') }}
    </template>
  </turbo-stream>

  <turbo-stream action="append" targets="#created-groups-container">
    <template>
      {% include 'wedding/cost-estimate/list/partial/_accordion.html.twig' with {
        accordionItemId: createdCostEstimateGroupDetailsDto.id,
        accordionItemName: createdCostEstimateGroupDetailsDto.name,
        costEstimatesListItemDto: [],
        weddingId: weddingId,
        groupId: createdCostEstimateGroupDetailsDto.id
      } only %}
    </template>
  </turbo-stream>
{% endblock %}
