{% extends 'home-base.html.twig' %}

{% block title %}
  {{ 'blog'|trans }}
{% endblock %}

{% block keywords %}
  {{ postDetailsDto.tagNames|length > 0 ? ', ' : '' }}

  {{ postDetailsDto.tagNames|join(', ') }}
{% endblock %}

{% block main %}
  <section class="py-0">
    <div class="container">
      <div class="row g-4">
        {% if postDetailsDto.headingImagePath is not null %}
          <div class="col-12">
            <img src="{{ asset(postDetailsDto.headingImagePath) }}" class="rounded-3" alt="">
          </div>
        {% endif %}

        <div class="col-11 col-lg-10 mx-auto position-relative {{ postDetailsDto.headingImagePath is not null ? 'mt-n5 mt-sm-n7 mt-md-n8' : '' }}">
          <div class="bg-mode shadow rounded-3 p-4">
            {% if postDetailsDto.categoryNames|length > 0 %}
              {% for categoryName in postDetailsDto.categoryNames %}
                <a href="#" class="badge text-bg-warning mb-2">
                  {{ categoryName }}
                </a>
              {% endfor %}
            {% else %}
              <a href="#" class="badge bg-dark">
                {{ 'no-category'|trans }}
              </a>
            {% endif %}

            <h1 class="fs-3">
              {{ postDetailsDto.title }}
            </h1>

            <p class="mb-2">
              {{ postDetailsDto.shortContent }}
            </p>

            <ul class="nav nav-divider align-items-center">
              <li class="nav-item">
                <div class="nav-link">
                  <div class="d-flex align-items-center">
                    <div class="avatar avatar-sm">
                      <img
                          class="avatar-img rounded-circle"
                          src="{{ asset('build/images/avatar/09.jpg') }}"
                          alt="avatar">
                    </div>

                    <div class="ms-2">
                      <h6 class="mb-0">
                        <a href="#">
                          {{ postDetailsDto.createdByName }}
                        </a>
                      </h6>
                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item">
                {{ postDetailsDto.createdAt|format_datetime('full', 'none', locale=app.request.locale) }}
              </li>

              <li class="nav-item">
                {{ 'amount-min-read'|trans({ '%amount%': 5 }) }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <p>
            {{ postDetailsDto.content|raw }}
          </p>

          <div class="bg-mode border rounded p-4">
            <div class="d-flex">
              <a href="#">
                <div class="avatar avatar-lg me-2 me-md-4">
                  <img class="avatar-img rounded-circle" src="{{ asset('build/images/avatar/09.jpg') }}" alt="avatar">
                </div>
              </a>

              <div>
                <h4 class="m-0">
                  <a href="#">
                    {{ postDetailsDto.createdByName }}
                  </a>
                </h4>

                <small>
                  {{ 'an-editor-at'|trans }}
                </small>
              </div>
            </div>

            <p class="my-3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eligendi est facilis fugit labore
              officia optio, quae quidem quo recusandae sed sunt, ullam ut vitae voluptate. Aspernatur excepturi quod
              soluta!
            </p>

            <div class="d-flex align-items-center justify-content-between">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link ps-0 pe-2 fs-5" href="#">
                    <i class="bi bi-facebook"></i>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link px-2 fs-5" href="#">
                    <i class="bi bi-twitter"></i>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link px-2 fs-5" href="#">
                    <i class="fa-brands fa-linkedin-in"></i>
                  </a>
                </li>
              </ul>

              <a href="#" class="btn btn-sm btn-primary mb-0">
                {{ 'view-articles'|trans }}
              </a>
            </div>
          </div>

          <div class="bg-light rounded d-md-flex justify-content-between align-items-center text-center p-3 mt-4">
            <h6 class="mb-0">
              {{ 'was-this-article-helpful'|trans ~ '?' }}
            </h6>

            <small class="py-3 p-md-0 d-block">
              {{ 'was-this-article-helpful-count'|trans({ '%first%': 25, '%second%': 75 }) }}
            </small>

            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio1">

              <label class="btn btn-outline-secondary btn-sm mb-0" for="btnradio1">
                <i class="fa-regular fa-thumbs-up me-1"></i>

                {{ 'yes'|trans }}
              </label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio2">

              <label class="btn btn-outline-secondary btn-sm mb-0" for="btnradio2">
                {{ 'no'|trans }}

                <i class="fa-regular fa-thumbs-down ms-1"></i>
              </label>
            </div>
          </div>

          <div class="d-lg-flex justify-content-lg-between mt-4">
            <div class="align-items-center mb-3 mb-lg-0">
              <h6 class="d-inline-block mb-2 me-4">
                {{ 'share-on'|trans ~ ':' }}
              </h6>

              <ul class="list-inline hstack flex-wrap gap-3 h6 fw-normal mb-0">
                <li class="list-inline-item">
                  <a class="text-facebook" href="#">
                    <i class="fa-brands fa-facebook-square"></i>

                    {{ 'facebook'|trans }}
                  </a>
                </li>

                <li class="list-inline-item">
                  <a class="text-instagram-gradient" href="#">
                    <i class="fa-brands fa-instagram-square"></i>

                    {{ 'instagram'|trans }}
                  </a>
                </li>

                <li class="list-inline-item">
                  <a class="text-twitter" href="#">
                    <i class="fa-brands fa-twitter-square"></i>

                    {{ 'twitter'|trans }}
                  </a>
                </li>
              </ul>
            </div>

            <div class="align-items-center">
              <h6 class="d-inline-block mb-2 me-4">
                {{ 'tags'|trans ~ ':' }}
              </h6>

              <ul class="list-inline mb-0">
                {% if postDetailsDto.tagNames|length > 0 %}
                  {% for tagName in postDetailsDto.tagNames %}
                    <li class="list-inline-item">
                      <a class="btn btn-light btn-sm mb-xl-0" href="#">
                        {{ tagName }}
                      </a>
                    </li>
                  {% endfor %}
                {% else %}
                  <li class="list-inline-item">
                    <a class="btn btn-light btn-sm mb-xl-0" href="#">
                      {{ 'no-tags'|trans }}
                    </a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}