{% extends 'dashboard-base.html.twig' %}

{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{% block title %}
  {{ 'task-update'|trans }}
{% endblock %}

{% block page_title %}
  {{ 'task-update'|trans }}
{% endblock %}

{% block breadcrumbs %}
  {{ breadcrumbs.render([
    { text: 'wedding-planner'|trans },
    { url: path('wedding_list'), text: 'wedding-list'|trans },
    { url: path('wedding_details', { id: weddingDetailsDto.id }), text: weddingDetailsDto.name },
    { url: path('wedding_task_list', { weddingId: weddingDetailsDto.id }), text: 'task-list'|trans },
    { url: path('wedding_task_details', { id: taskDetailsDto.id, weddingId: weddingDetailsDto.id }), text: taskDetailsDto.name },
    { text: 'task-update'|trans }
  ]) }}
{% endblock %}

{% block page_content %}
  <div class="card shadow">
    <div class="card-body">
      {{ form(form) }}

      <a href="{{ path('wedding_task_list', { weddingId: weddingDetailsDto.id }) }}">
        {{ 'back-to-list'|trans }}
      </a>
    </div>
  </div>
{% endblock %}