{% extends 'dashboard-base.html.twig' %}

{% block title %}
  {{ 'table-details'|trans }}
{% endblock %}

{% block page_heading %}
  <h1 class="h2">
    {{ 'table-details'|trans }}

    {{ tableDetailsDto.name }}
  </h1>

  <a
      href="{{ path('wedding_table_update', { weddingId: weddingId, id: tableDetailsDto.id }) }}"
      class="btn btn-primary"
      data-controller="tooltip"
      data-bs-title="{{ 'edit'|trans }}">
    <i class="bi bi-pencil"></i>
  </a>
{% endblock %}

{% block page_content %}
  <table class="table">
    <tbody>
      <tr>
        <td>
          {{ 'name'|trans }}
        </td>

        <td>
          {{ tableDetailsDto.name }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'description'|trans }}
        </td>

        <td>
          {{ tableDetailsDto.description }}
        </td>
      </tr>

      <tr>
        <td>
          {{ 'number-of-seats'|trans }}
        </td>

        <td>
          {{ tableDetailsDto.numberOfSeats }}
        </td>
      </tr>
    </tbody>
  </table>

  <a href="{{ path('wedding_table_list', { weddingId: weddingId }) }}">
    {{ 'back-to-list'|trans }}
  </a>
{% endblock %}