{% extends 'dashboard-base.html.twig' %}

{% block title %}
  {{ 'wedding-user-update'|trans }}
{% endblock %}

{% block page_title %}
  {{ 'wedding-user-update'|trans }}
{% endblock %}

{% block page_content %}
  <div class="card shadow">
    <div class="card-body">
      {{ form(form) }}

      <a href="{{ path('wedding_user_list', { weddingId: weddingId }) }}">
        {{ 'back-to-list'|trans }}
      </a>
    </div>
  </div>
{% endblock %}