{% extends 'base.html.twig' %}

{% block body %}
  <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="{{ path('home_index') }}">
      Dream-Wedding
    </a>

    <ul class="navbar-nav flex-row d-md-none">
      <li class="nav-item text-nowrap">
        <button
            class="btn nav-link px-3 text-white"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu"
            aria-expanded="false"
            aria-label="Toggle navigation">
          <i class="bi bi-list"></i>
        </button>
      </li>
    </ul>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        <div
            class="offcanvas-md offcanvas-end bg-body-tertiary"
            tabindex="-1"
            id="sidebarMenu"
            aria-labelledby="sidebarMenuLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">
              Dream-Wedding
            </h5>

            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                data-bs-target="#sidebarMenu"
                aria-label="Close"></button>
          </div>

          <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
            <ul class="nav flex-column">
              {% include 'partial/_sidebar-item.html.twig' with { name: 'dashboard'|trans, iconClass: 'bi bi-house-fill', routeName: 'dashboard_index', path: path('dashboard_index') } only %}

              {% include 'partial/_sidebar-item.html.twig' with { name: 'wedding-list'|trans, iconClass: 'bi bi-list-task', routeName: 'wedding_list', path: path('wedding_list') } only %}
            </ul>

            <hr class="my-3">

            {% for weddingDto in getWeddings() %}
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                <span>
                  {{ weddingDto.name }}
                </span>
              </h6>

              <ul class="nav flex-column">
                {% include 'partial/_sidebar-item.html.twig' with { name: 'details'|trans, iconClass: 'bi bi-eye', routeName: 'wedding_details', path: path('wedding_details', { id: weddingDto.id }) } only %}

                {% include 'partial/_sidebar-item.html.twig' with { name: 'guest-list'|trans, iconClass: 'bi bi-people-fill', routeName: 'wedding_guest_list', path: path('wedding_guest_list', { weddingId: weddingDto.id }) } only %}

                {% include 'partial/_sidebar-item.html.twig' with { name: 'cost-estimate-list'|trans, iconClass: 'bi bi-cash', routeName: 'wedding_cost_estimate_list', path: path('wedding_cost_estimate_list', { weddingId: weddingDto.id }) } only %}

                {% include 'partial/_sidebar-item.html.twig' with { name: 'table-list'|trans, iconClass: 'bi bi-tag', routeName: 'wedding_table_list', path: path('wedding_table_list', { weddingId: weddingDto.id }) } only %}

                {% include 'partial/_sidebar-item.html.twig' with { name: 'task-list'|trans, iconClass: 'bi bi-list-task', routeName: 'wedding_task_list', path: path('wedding_task_list', { weddingId: weddingDto.id }) } only %}

                {% include 'partial/_sidebar-item.html.twig' with { name: 'wedding-user-list'|trans, iconClass: 'bi bi-universal-access-circle', routeName: 'wedding_user_list', path: path('wedding_user_list', { weddingId: weddingDto.id }) } only %}

                <li class="nav-item dropdown">
                  <a
                      class="nav-link dropdown-toggle {{ getActualRouteName()|activeRouteNames(['wedding_guest_group_list', 'wedding_cost_estimate_group_list', 'wedding_task_group_list'], 'active') }}"
                      data-bs-toggle="dropdown"
                      href="#"
                      role="button"
                      aria-expanded="false">
                    <i class="bi bi-collection"></i>

                    {{ 'groups'|trans }}
                  </a>

                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a
                          class="dropdown-item {{ getActualRouteName()|activeRouteName('wedding_guest_group_list', 'active') }}"
                          href="{{ path('wedding_guest_group_list', { weddingId: weddingDto.id }) }}">
                        {{ 'guest-group-list'|trans }}
                      </a>
                    </li>

                    <li>
                      <a
                          class="dropdown-item {{ getActualRouteName()|activeRouteName('wedding_cost_estimate_group_list', 'active') }}"
                          href="{{ path('wedding_cost_estimate_group_list', { weddingId: weddingDto.id }) }}">
                        {{ 'cost-estimate-group-list'|trans }}
                      </a>
                    </li>

                    <li>
                      <a
                          class="dropdown-item {{ getActualRouteName()|activeRouteName('wedding_task_group_list', 'active') }}"
                          href="{{ path('wedding_task_group_list', { weddingId: weddingDto.id }) }}">
                        {{ 'task-group-list'|trans }}
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            {% endfor %}

            <hr class="my-3">

            <ul class="nav flex-column">
              {% include 'partial/_sidebar-item.html.twig' with { name: 'settings'|trans, iconClass: 'bi bi-gear-wide-connected', routeName: 'user_update_settings', path: path('user_update_settings') } only %}

              {% include 'partial/_sidebar-item.html.twig' with { name: 'sign-out'|trans, iconClass: 'bi bi-door-closed', routeName: 'security_logout', path: path('security_logout') } only %}
            </ul>
          </div>
        </div>
      </div>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="mt-2">
          {% include 'partial/_flash-messages.html.twig' %}
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          {% block page_heading %}
            <h1 class="h2">
              {% block page_title %}{% endblock %}
            </h1>
          {% endblock %}
        </div>

        {% block page_content %}{% endblock %}
      </main>
    </div>
  </div>
{% endblock %}