{% extends 'base.html.twig' %}

{% block body %}
  <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="{{ path('home_index') }}">
      Dream-Wedding
    </a>

    <ul class="navbar-nav flex-row d-md-none">
      <li class="nav-item text-nowrap">
        <button
            class="btn nav-link px-3 text-white"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu"
            aria-expanded="false"
            aria-label="Toggle navigation">
          <i class="bi bi-list"></i>
        </button>
      </li>
    </ul>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        <div
            class="offcanvas-md offcanvas-end bg-body-tertiary"
            tabindex="-1"
            id="sidebarMenu"
            aria-labelledby="sidebarMenuLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">
              Dream-Wedding
            </h5>

            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                data-bs-target="#sidebarMenu"
                aria-label="Close"></button>
          </div>

          <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
            <ul class="nav flex-column">
              {% include 'partial/_sidebar-item.html.twig' with { name: 'dashboard'|trans, iconClass: 'bi bi-house-fill', path: path('dashboard_index') } only %}

              {% include 'partial/_sidebar-item.html.twig' with { name: 'wedding-list'|trans, iconClass: 'bi bi-list-task', path: path('wedding_list') } only %}
            </ul>

            <hr class="my-3">

            {% for weddingDto in getWeddings() %}
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                <span>
                  {{ weddingDto.name }}
                </span>
              </h6>

              <ul class="nav flex-column mb-auto">
                <li class="nav-item">
                  <a
                      class="nav-link d-flex align-items-center gap-2"
                      href="{{ path('wedding_guest_list', { weddingId: weddingDto.id }) }}">
                    <i class="bi bi-people-fill"></i>

                    {{ 'guest-list'|trans }}
                  </a>
                </li>
              </ul>
            {% endfor %}

            <hr class="my-3">

            <ul class="nav flex-column mb-auto">
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="#">
                  <i class="bi bi-gear-wide-connected"></i>

                  {{ 'settings'|trans }}
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="{{ path('security_logout') }}">
                  <i class="bi bi-door-closed"></i>

                  {{ 'sign-out'|trans }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="mt-2">
          {% include 'partial/_flash-messages.html.twig' %}
        </div>

        <div class="pt-3 pb-2 mb-3 border-bottom d-flex justify-content-between">
          {% block page_heading %}
            <h1 class="h2">
              {% block page_title %}{% endblock %}
            </h1>
          {% endblock %}
        </div>

        {% block page_content %}{% endblock %}
      </main>
    </div>
  </div>
{% endblock %}