{% extends 'base.html.twig' %}

{% block body %}
  <main>
    <nav class="navbar sidebar navbar-expand-xl navbar-light">
      <div class="d-flex align-items-center">
        <a class="navbar-brand" href="{{ path('dashboard_index') }}">
          <span class="light-mode-item navbar-brand-item fw-bold h4">
            <span class="d-block">
              Wymarzone
            </span>

            <span class="d-block text-primary">
              Wesele
            </span>
          </span>

          <span class="dark-mode-item navbar-brand-item fw-bold h4">
            <span class="d-block text-white">
              Wymarzone
            </span>

            <span class="d-block text-primary">
              Wesele
            </span>
          </span>
        </a>
      </div>

      <div
          class="offcanvas offcanvas-start flex-row custom-scrollbar h-100"
          data-bs-backdrop="true"
          tabindex="-1"
          id="offcanvasSidebar">
        <div class="offcanvas-body sidebar-content d-flex flex-column pt-4">
          <ul class="navbar-nav flex-column" id="navbar-sidebar">
            {% include 'partial/_sidebar-item.html.twig' with { name: 'home-page'|trans, routeName: 'home_index', path: path('home_index') } only %}

            {% include 'partial/_sidebar-item.html.twig' with { name: 'dashboard'|trans, routeName: 'dashboard_index', path: path('dashboard_index') } only %}

            {% include 'partial/_sidebar-item.html.twig' with { name: 'wedding-list'|trans, routeName: 'wedding_list', path: path('wedding_list') } only %}

            {% for weddingDto in getWeddings() %}
              <li class="nav-item ms-2 my-2">
                {{ weddingDto.name }}
              </li>

              {% include 'partial/_sidebar-item.html.twig' with { name: 'details'|trans, iconClass: 'bi bi-eye', routeName: 'wedding_details', path: path('wedding_details', { id: weddingDto.id }) } only %}

              {% include 'partial/_sidebar-item.html.twig' with { name: 'guest-list'|trans, iconClass: 'bi bi-people-fill', routeName: 'wedding_guest_list', path: path('wedding_guest_list', { weddingId: weddingDto.id }) } only %}

              {% include 'partial/_sidebar-item.html.twig' with { name: 'cost-estimate-list'|trans, iconClass: 'bi bi-cash', routeName: 'wedding_cost_estimate_list', path: path('wedding_cost_estimate_list', { weddingId: weddingDto.id }) } only %}

              {% include 'partial/_sidebar-item.html.twig' with { name: 'table-list'|trans, iconClass: 'bi bi-tag', routeName: 'wedding_table_list', path: path('wedding_table_list', { weddingId: weddingDto.id }) } only %}

              {% include 'partial/_sidebar-item.html.twig' with { name: 'task-list'|trans, iconClass: 'bi bi-list-task', routeName: 'wedding_task_list', path: path('wedding_task_list', { weddingId: weddingDto.id }) } only %}

              {% include 'partial/_sidebar-item.html.twig' with { name: 'wedding-user-list'|trans, iconClass: 'bi bi-universal-access-circle', routeName: 'wedding_user_list', path: path('wedding_user_list', { weddingId: weddingDto.id }) } only %}

              <li class="nav-item">
                <a
                    class="nav-link"
                    data-bs-toggle="collapse"
                    href="#collapse-group-{{ weddingDto.id }}"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapse-group-{{ weddingDto.id }}">
                  {{ 'groups'|trans }}
                </a>

                <ul
                    class="nav collapse flex-column"
                    id="collapse-group-{{ weddingDto.id }}"
                    data-bs-parent="#navbar-sidebar">
                  {% include 'partial/_sidebar-item.html.twig' with {
                    name: 'guest-group-list'|trans,
                    routeName: 'wedding_guest_group_list',
                    path: path('wedding_guest_group_list', { weddingId: weddingDto.id }) } only %}

                  {% include 'partial/_sidebar-item.html.twig' with {
                    name: 'cost-estimate-group-list'|trans,
                    routeName: 'wedding_cost_estimate_group_list',
                    path: path('wedding_cost_estimate_group_list', { weddingId: weddingDto.id }) } only %}

                  {% include 'partial/_sidebar-item.html.twig' with {
                    name: 'task-group-list'|trans,
                    routeName: 'wedding_task_group_list',
                    path: path('wedding_task_group_list', { weddingId: weddingDto.id }) } only %}
                </ul>
              </li>
            {% endfor %}
          </ul>

          <div class="d-flex align-items-center justify-content-between text-primary-hover mt-auto p-3">
            <a
                class="h6 fw-light mb-0 text-body"
                href="{{ path('security_logout') }}"
                data-turbo-prefetch="false"
                data-controller="tooltip"
                data-bs-title="{{ 'sign-out'|trans }}"
                aria-label="{{ 'sign-out'|trans }}">
              <i class="fa-solid fa-arrow-right-from-bracket"></i>

              {{ 'sign-out'|trans }}
            </a>

            <a
                class="h6 mb-0 text-body"
                href="{{ path('user_update_settings') }}"
                data-controller="tooltip"
                data-bs-title="{{ 'settings'|trans }}"
                aria-label="{{ 'settings'|trans }}">
              <i class="bi bi-gear-fill"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <div class="page-content">
      <nav class="navbar top-bar navbar-light py-0 py-xl-3">
        <div class="container-fluid p-0">
          <div class="d-flex align-items-center w-100">
            <div class="d-flex align-items-center d-xl-none">
              <a class="navbar-brand" href="{{ path('dashboard_index') }}">
                <span class="light-mode-item navbar-brand-item fw-bold h4">
                  <span class="d-block">
                    Wymarzone
                  </span>

                  <span class="d-block text-primary">
                    Wesele
                  </span>
                </span>

                <span class="dark-mode-item navbar-brand-item fw-bold h4">
                  <span class="d-block text-white">
                    Wymarzone
                  </span>

                  <span class="d-block text-primary">
                    Wesele
                  </span>
                </span>
              </a>
            </div>

            <div class="navbar-expand-xl sidebar-offcanvas-menu">
              <button
                  class="navbar-toggler me-auto p-2"
                  type="button"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasSidebar"
                  aria-controls="offcanvasSidebar"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                  data-bs-auto-close="outside">
                <i class="bi bi-list text-primary fa-fw" data-bs-target="#offcanvasMenu"></i>
              </button>
            </div>

            <ul class="nav flex-row align-items-center list-unstyled ms-auto">
              <li class="nav-item dropdown ms-3">
                <button
                    class="nav-notification lh-0 btn btn-light p-0 mb-0" id="bd-theme"
                    type="button"
                    aria-expanded="false"
                    data-bs-toggle="dropdown"
                    data-bs-display="static">
                  <i class="fa-solid fa-language"></i>
                </button>

                <ul class="dropdown-menu min-w-auto dropdown-menu-end">
                  <li class="mb-1">
                    <a href="{{ path('localization_change_locale', { locale: 'pl' }) }}" class="dropdown-item d-flex align-items-center">
                      <img class="fa-fw me-2" src="{{ asset('build/images/flags/pl.svg') }}" alt="">

                      {{ 'polish'|trans }}
                    </a>
                  </li>

                  <li class="mb-1">
                    <a href="{{ path('localization_change_locale', { locale: 'en' }) }}" class="dropdown-item d-flex align-items-center">
                      <img class="fa-fw me-2" src="{{ asset('build/images/flags/uk.svg') }}" alt="">

                      {{ 'english'|trans }}
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-item dropdown ms-3">
                <button
                    class="nav-notification lh-0 btn btn-light p-0 mb-0" id="bd-theme"
                    type="button"
                    aria-expanded="false"
                    data-bs-toggle="dropdown"
                    data-bs-display="static">
                  <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-circle-half fa-fw theme-icon-active"
                      viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
                    <use href="#"></use>
                  </svg>
                </button>

                <ul class="dropdown-menu min-w-auto dropdown-menu-end" aria-labelledby="bd-theme">
                  <li class="mb-1">
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
                      <svg
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-brightness-high-fill fa-fw mode-switch me-1"
                          viewBox="0 0 16 16">
                        <path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                        <use href="#"></use>
                      </svg>

                      {{ 'light'|trans }}
                    </button>
                  </li>
                  <li class="mb-1">
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
                      <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-moon-stars-fill fa-fw mode-switch me-1"
                          viewBox="0 0 16 16">
                        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
                        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
                        <use href="#"></use>
                      </svg>

                      {{ 'dark'|trans }}
                    </button>
                  </li>
                  <li>
                    <button
                        type="button"
                        class="dropdown-item d-flex align-items-center active"
                        data-bs-theme-value="auto">
                      <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-circle-half fa-fw mode-switch"
                          viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
                        <use href="#"></use>
                      </svg>

                      {{ 'auto'|trans }}
                    </button>
                  </li>
                </ul>
              </li>

              <li class="nav-item ms-3 dropdown">
                <a
                    class="avatar avatar-sm p-0"
                    href="#"
                    id="profileDropdown"
                    role="button"
                    data-bs-auto-close="outside"
                    data-bs-display="static"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                  <img class="avatar-img rounded-2" src="{{ asset('build/images/avatar/01.jpg') }}" alt="avatar">
                </a>

                <ul
                    class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3"
                    aria-labelledby="profileDropdown">
                  <li class="px-3 mb-3">
                    <div class="d-flex align-items-center">
                      <div class="avatar me-3">
                        <img
                            class="avatar-img rounded-circle shadow"
                            src="{{ asset('build/images/avatar/01.jpg') }}"
                            alt="avatar">
                      </div>
                      <div>
                        <a class="h6 mt-2 mt-sm-0" href="#">
                          {{ app.user.username }}
                        </a>

                        <p class="small m-0">
                          {{ app.user.email }}
                        </p>
                      </div>
                    </div>
                  </li>

                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{ path('user_update_settings') }}">
                      <i class="bi bi-gear fa-fw me-2"></i>

                      {{ 'settings'|trans }}
                    </a>
                  </li>

                  <li>
                    <a
                        class="dropdown-item bg-danger-soft-hover"
                        href="{{ path('security_logout') }}"
                        data-turbo-prefetch="false">
                      <i class="bi bi-power fa-fw me-2"></i>

                      {{ 'sign-out'|trans }}
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="page-content-wrapper">
        <div class="row">
          <div class="col-12">
            {% block breadcrumbs %}{% endblock %}
          </div>
        </div>

        <div class="row">
          <div class="col-12 mb-4 mb-sm-5">
            <div class="d-sm-flex justify-content-between align-items-center">
              {% block page_heading %}
                <h1 class="h3 mb-2 mb-sm-0">
                  {% block page_title %}{% endblock %}
                </h1>
              {% endblock %}
            </div>
          </div>
        </div>

        {% block page_content %}{% endblock %}
      </div>
    </div>
  </main>
{% endblock %}