{% extends 'dashboard-base.html.twig' %}

{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{% block title %}
  {{ 'guest-group-details'|trans }}
{% endblock %}

{% block page_heading %}
  <h1 class="h3 mb-2 mb-sm-0">
    {{ 'guest-group-details'|trans }}

    {{ guestGroupDetailsDto.name }}
  </h1>

  <a
      href="{{ path('wedding_guest_group_update', { weddingId: weddingDetailsDto.id, id: guestGroupDetailsDto.id }) }}"
      class="btn btn-primary"
      data-controller="tooltip"
      data-bs-title="{{ 'edit'|trans }}">
    <i class="bi bi-pencil"></i>
  </a>
{% endblock %}

{% block breadcrumbs %}
  {{ breadcrumbs.render([
    { text: 'wedding-planner'|trans },
    { url: path('wedding_list'), text: 'wedding-list'|trans },
    { url: path('wedding_details', { id: weddingDetailsDto.id }), text: weddingDetailsDto.name },
    { url: path('wedding_guest_group_list', { weddingId: weddingDetailsDto.id }), text: 'guest-group-list'|trans },
    { text: guestGroupDetailsDto.name }
  ]) }}
{% endblock %}

{% block page_content %}
  <div class="card shadow">
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <td>
              {{ 'name'|trans }}
            </td>

            <td>
              {{ guestGroupDetailsDto.name }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'description'|trans }}
            </td>

            <td>
              {{ guestGroupDetailsDto.description }}
            </td>
          </tr>

          <tr>
            <td>
              {{ 'guests'|trans }}
            </td>

            <td>
              {% for guestName in guestGroupDetailsDto.guestNames %}
                <span class="badge text-bg-primary">
              {{ guestName }}
            </span>
              {% endfor %}
            </td>
          </tr>
        </tbody>
      </table>

      <a href="{{ path('wedding_guest_group_list', { weddingId: weddingDetailsDto.id }) }}">
        {{ 'back-to-list'|trans }}
      </a>
    </div>
  </div>
{% endblock %}