{% extends 'wedding/wedding-base.html.twig' %}

{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{% block page_heading %}
  <h1 class="h3 mb-2 mb-sm-0">
    {{ 'wedding-details'|trans }}

    {{ weddingDetailsDto.name }}
  </h1>

  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button
          type="button"
          class="btn btn-sm btn-outline-primary"
          data-action="modal#openModal"
          data-modal-src-param="{{ path('wedding_guest_modal_filter', { weddingId: weddingDetailsDto.id }) }}"
          data-modal-title-param="{{ 'filtration'|trans }}">
        {{ 'filtration'|trans }}
      </button>

      {% if isGuestListFilterActive %}
        <a
            href="{{ path('wedding_guest_list', { weddingId: weddingDetailsDto.id }) }}"
            class="btn btn-sm btn-outline-danger">
          {{ 'clear-filter'|trans }}
        </a>
      {% endif %}
    </div>

    <div class="btn-group">
      <button
          type="button"
          class="btn btn-sm btn-outline-primary"
          data-action="modal#openModal"
          data-modal-src-param="{{ path('wedding_guest_modal_create_many', { weddingId: weddingDetailsDto.id }) }}"
          data-modal-title-param="{{ 'add-guests'|trans }}">
        {{ 'add-many'|trans }}
      </button>

      <a
          href="{{ path('wedding_guest_create', { weddingId: weddingDetailsDto.id }) }}"
          class="btn btn-sm btn-outline-primary">
        {{ 'add'|trans }}
      </a>
    </div>
  </div>
{% endblock %}

{% block breadcrumbs %}
  {{ breadcrumbs.render([
    { text: 'wedding-planner'|trans },
    { url: path('wedding_list'), text: 'wedding-list'|trans },
    { url: path('wedding_details', { id: weddingDetailsDto.id }), text: weddingDetailsDto.name },
    { text: 'guest-list'|trans }
  ]) }}
{% endblock %}

{% block tab_content %}
  {% for guestGroupBuildRowDto in guestGroupBuildDto.guestsGroupsBuildRowDto %}
    {% if (not isGuestListFilterActive) or (isGuestListFilterActive and guestGroupBuildRowDto.guestsListItemDto|length > 0 ) %}
      {% include 'wedding/guest/list/partial/_accordion.html.twig' with {
        accordionItemId: guestGroupBuildRowDto.guestGroupListItemDto.id,
        accordionItemName: guestGroupBuildRowDto.guestGroupListItemDto.name,
        guestsListItemDto: guestGroupBuildRowDto.guestsListItemDto,
        weddingId: weddingDetailsDto.id,
        groupId: guestGroupBuildRowDto.guestGroupListItemDto.id
      } only %}
    {% endif %}
  {% endfor %}

  <div id="created-groups-container"></div>

  {% if (not isGuestListFilterActive) or (isGuestListFilterActive and ungroupedGuestsListItemDto|length > 0 ) %}
    {% include 'wedding/guest/list/partial/_accordion.html.twig' with {
      accordionItemId: 'ungrouped',
      accordionItemName: 'ungrouped'|trans,
      guestsListItemDto: ungroupedGuestsListItemDto,
      weddingId: weddingDetailsDto.id,
      groupId: null
    } only %}
  {% endif %}

  {% block groupSimpleCreateForm %}
    {% include 'partial/_simple-create-group-form.html.twig' with { groupSimpleCreateForm: groupSimpleCreateForm } only %}
  {% endblock %}

  <div class="row text-center">
    <div class="col-12 col-md-3 mb-3 mb-md-0">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-envelope-check"></i>
          </h5>

          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ 'invited-guests'|trans }}
          </h6>

          <p class="card-text">
            {{ guestGroupBuildDto.invitedAmount }}/{{ guestGroupBuildDto.guestsAmount }}
          </p>

          <div class="progress" style="height: 25px;">
            <div class="progress-bar progress-bar-striped" style="width: {{ guestGroupBuildDto.invitedPercentage }}%;">
              {{ guestGroupBuildDto.invitedPercentage }}%
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-3 mb-3 mb-md-0">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-person-check"></i>
          </h5>

          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ 'confirmed-guests'|trans }}
          </h6>

          <p class="card-text">
            {{ guestGroupBuildDto.confirmedAmount }}/{{ guestGroupBuildDto.guestsAmount }}
          </p>

          <div class="progress" style="height: 25px;">
            <div
                class="progress-bar progress-bar-striped"
                style="width: {{ guestGroupBuildDto.confirmedPercentage }}%;">
              {{ guestGroupBuildDto.confirmedPercentage }}%
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-info-circle"></i>
          </h5>

          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ 'additional-information'|trans }}
          </h6>

          <table class="table table-sm table-borderless text-start">
            <tr>
              <td>
                {{ 'guests-amount'|trans }}
              </td>

              <td>
                {{ guestGroupBuildDto.guestsAmount }}
              </td>
            </tr>

            <tr>
              <td>
                {{ 'invited-amount'|trans }}
              </td>

              <td>
                {{ guestGroupBuildDto.invitedAmount }}
              </td>
            </tr>

            <tr>
              <td>
                {{ 'confirmed-amount'|trans }}
              </td>

              <td>
                {{ guestGroupBuildDto.confirmedAmount }}
              </td>
            </tr>

            <tr>
              <td>
                {{ 'accommodation-amount'|trans }}
              </td>

              <td>
                {{ guestGroupBuildDto.accommodationAmount }}
              </td>
            </tr>

            <tr>
              <td>
                {{ 'transport-amount'|trans }}
              </td>

              <td>
                {{ guestGroupBuildDto.transportAmount }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block success_create_group_stream %}
  <turbo-stream action="replace" targets="#simple-create-group-row">
    <template>
      {{ block('groupSimpleCreateForm') }}
    </template>
  </turbo-stream>

  <turbo-stream action="append" targets="#created-groups-container">
    <template>
      {% include 'wedding/guest/list/partial/_accordion.html.twig' with {
        accordionItemId: createdGuestGroupDetailsDto.id,
        accordionItemName: createdGuestGroupDetailsDto.name,
        guestsListItemDto: [],
        weddingId: weddingId,
        groupId: createdGuestGroupDetailsDto.id
      } only %}
    </template>
  </turbo-stream>
{% endblock %}
