{% extends 'wedding/wedding-base.html.twig' %}

{% block page_heading %}
  <h1 class="h2">
    {{ 'wedding-details'|trans }}

    {{ weddingDetailsDto.name }}
  </h1>

  <a
      href="{{ path('wedding_guest_create', { weddingId: weddingDetailsDto.id }) }}"
      class="btn btn-primary"
      data-bs-toggle="tooltip"
      data-bs-title="{{ 'add'|trans }}">
    <i class="bi bi-plus-circle"></i>
  </a>
{% endblock %}

{% block tab_content %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            #
          </th>

          <th>
            {{ 'first-name'|trans }}
          </th>

          <th>
            {{ 'last-name'|trans }}
          </th>

          <th>
            {{ 'guest-type'|trans }}
          </th>

          <th>
            {{ 'invited'|trans }}
          </th>

          <th>
            {{ 'confirmed'|trans }}
          </th>

          <th>
            {{ 'accommodation'|trans }}
          </th>

          <th>
            {{ 'transport'|trans }}
          </th>

          <th>
            {{ 'diet-type'|trans }}
          </th>

          <th>
            {{ 'note'|trans }}
          </th>

          <th>
            {{ 'telephone'|trans }}
          </th>

          <th>
            {{ 'email'|trans }}
          </th>

          <th>
            {{ 'payment'|trans }}
          </th>

          <th>
            {{ 'actions'|trans }}
          </th>
        </tr>
      </thead>

      <tbody>
        {% for guestDto in guestsListItemDto %}
          <tr>
            <td>
              {{ loop.index }}
            </td>

            <td>
              {{ guestDto.firstName }}
            </td>

            <td>
              {{ guestDto.lastName }}
            </td>

            <td>
              {{ guestDto.type|trans }}
            </td>

            <td>
              {{ guestDto.invited|yesOrNo }}
            </td>

            <td>
              {{ guestDto.confirmed|yesOrNo }}
            </td>

            <td>
              {{ guestDto.accommodation|yesOrNo }}
            </td>

            <td>
              {{ guestDto.transport|yesOrNo }}
            </td>

            <td>
              {{ guestDto.dietType|trans }}
            </td>

            <td>
              {{ guestDto.note }}
            </td>

            <td>
              {{ guestDto.telephone }}
            </td>

            <td>
              {{ guestDto.email }}
            </td>

            <td>
              {{ guestDto.payment }}
            </td>

            <td class="d-flex">
              <a
                  href="{{ path('wedding_guest_details', { weddingId: weddingDetailsDto.id, id: guestDto.id }) }}"
                  class="btn btn-primary btn-sm me-1"
                  data-bs-toggle="tooltip"
                  data-bs-title="{{ 'details'|trans }}">
                <i class="bi bi-eye"></i>
              </a>

              <a
                  href="{{ path('wedding_guest_update', { weddingId: weddingDetailsDto.id, id: guestDto.id }) }}"
                  class="btn btn-secondary btn-sm me-1"
                  data-bs-toggle="tooltip"
                  data-bs-title="{{ 'edit'|trans }}">
                <i class="bi bi-pencil"></i>
              </a>

              <form
                  action="{{ path('wedding_guest_delete', { weddingId: weddingDetailsDto.id, id: guestDto.id }) }}"
                  method="post">
                <button
                    type="submit" class="btn btn-danger btn-sm"
                    data-bs-toggle="tooltip"
                    data-bs-title="{{ 'delete'|trans }}">
                  <i class="bi bi-trash3"></i>
                </button>

                <input type="hidden" name="_method" value="DELETE">
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}