{% extends 'wedding/wedding-base.html.twig' %}

{% block tab_content %}
  <table class="table">
    <thead>
      <tr>
        <th>
          #
        </th>

        <th>
          {{ 'first-name'|trans }}
        </th>

        <th>
          {{ 'last-name'|trans }}
        </th>

        <th>
          {{ 'actions'|trans }}
        </th>
      </tr>
    </thead>

    <tbody>
      {% for guestDto in guestsListItemDto %}
        <tr>
          <td>
            {{ loop.index }}
          </td>

          <td>
            {{ guestDto.firstName }}
          </td>

          <td>
            {{ guestDto.lastName }}
          </td>

          <td>
            <a
                href="{{ path('wedding_details', { id: 1 }) }}"
                class="btn btn-primary btn-sm"
                data-bs-toggle="tooltip"
                data-bs-title="{{ 'details'|trans }}">
              <i class="bi bi-eye"></i>
            </a>

            <a
                href="{{ path('wedding_details', { id: 1 }) }}"
                class="btn btn-secondary btn-sm"
                data-bs-toggle="tooltip"
                data-bs-title="{{ 'edit'|trans }}">
              <i class="bi bi-pencil"></i>
            </a>

            <a
                href="{{ path('wedding_details', { id: 1 }) }}"
                class="btn btn-danger btn-sm"
                data-bs-toggle="tooltip"
                data-bs-title="{{ 'delete'|trans }}">
              <i class="bi bi-trash3"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}