{% extends 'wedding/wedding-base.html.twig' %}

{% block page_heading %}
  <h1 class="h2">
    {{ 'wedding-details'|trans }}

    {{ weddingDetailsDto.name }}
  </h1>

  <a
      href="{{ path('wedding_guest_create', { weddingId: weddingDetailsDto.id }) }}"
      class="btn btn-primary"
      data-controller="tooltip"
      data-bs-title="{{ 'add'|trans }}">
    <i class="bi bi-plus-circle"></i>
  </a>
{% endblock %}

{% block tab_content %}
  {% for guestGroupBuildRowDto in guestGroupBuildDto.guestsGroupsBuildRowDto %}
    {% include 'wedding/guest/list/partial/_accordion.html.twig' with {
      accordionItemId: guestGroupBuildRowDto.guestGroupListItemDto.id,
      accordionItemName: guestGroupBuildRowDto.guestGroupListItemDto.name,
      guestsListItemDto: guestGroupBuildRowDto.guestsListItemDto,
      weddingId: weddingDetailsDto.id,
      groupId: guestGroupBuildRowDto.guestGroupListItemDto.id
    } only %}
  {% endfor %}

  <div id="created-groups-container"></div>

  {% include 'wedding/guest/list/partial/_accordion.html.twig' with {
    accordionItemId: 'ungrouped',
    accordionItemName: 'ungrouped'|trans,
    guestsListItemDto: ungroupedGuestsListItemDto,
    weddingId: weddingDetailsDto.id,
    groupId: null
  } only %}

  <div class="row">
    <div class="col-12 col-lg-4">
      {% block groupSimpleCreateForm %}
        {{ form_start(groupSimpleCreateForm) }}

        <div class="input-group mb-3 {{ groupSimpleCreateForm.name.vars.valid ? '' : 'has-validation' }}">
          {{ form_widget(groupSimpleCreateForm.name, {
            attr: {
              class: 'form-control' ~ groupSimpleCreateForm.name.vars.valid ? '' : ' is-invalid',
              placeholder: 'new-group-name'|trans,
              'aria-label': 'new-group-name'|trans,
              'aria-describedby': 'group_simple_create_form_add'} }) }}

          {{ form_widget(groupSimpleCreateForm.add, { attr: { class: 'btn btn-outline-primary' } }) }}

          {{ form_errors(groupSimpleCreateForm.name) }}
        </div>

        {{ form_rest(groupSimpleCreateForm) }}

        {{ form_end(groupSimpleCreateForm) }}
      {% endblock %}
    </div>
  </div>

  <div class="row text-center">
    <div class="col-12 col-md-3 mb-3 mb-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-envelope-check"></i>
          </h5>

          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ 'invited-guests'|trans }}
          </h6>

          <p class="card-text">
            {{ guestGroupBuildDto.invitedAmount }}/{{ guestGroupBuildDto.guestsAmount }}
          </p>

          <div class="progress" style="height: 25px;">
            <div class="progress-bar progress-bar-striped" style="width: {{ guestGroupBuildDto.invitedPercentage }}%;">
              {{ guestGroupBuildDto.invitedPercentage }}%
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-3 mb-3 mb-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-person-check"></i>
          </h5>

          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ 'confirmed-guests'|trans }}
          </h6>

          <p class="card-text">
            {{ guestGroupBuildDto.confirmedAmount }}/{{ guestGroupBuildDto.guestsAmount }}
          </p>

          <div class="progress" style="height: 25px;">
            <div
                class="progress-bar progress-bar-striped"
                style="width: {{ guestGroupBuildDto.confirmedPercentage }}%;">
              {{ guestGroupBuildDto.confirmedPercentage }}%
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-info-circle"></i>
          </h5>

          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ 'additional-information'|trans }}
          </h6>

          <table class="table table-sm table-borderless text-start">
            <tr>
              <td>
                {{ 'guests-amount'|trans }}
              </td>

              <td>
                {{ guestGroupBuildDto.guestsAmount }}
              </td>
            </tr>

            <tr>
              <td>
                {{ 'invited-amount'|trans }}
              </td>

              <td>
                {{ guestGroupBuildDto.invitedAmount }}
              </td>
            </tr>

            <tr>
              <td>
                {{ 'confirmed-amount'|trans }}
              </td>

              <td>
                {{ guestGroupBuildDto.confirmedAmount }}
              </td>
            </tr>

            <tr>
              <td>
                {{ 'accommodation-amount'|trans }}
              </td>

              <td>
                {{ guestGroupBuildDto.accommodationAmount }}
              </td>
            </tr>

            <tr>
              <td>
                {{ 'transport-amount'|trans }}
              </td>

              <td>
                {{ guestGroupBuildDto.transportAmount }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block success_stream %}
  <turbo-stream action="replace" targets="form[name=group_simple_create_form]">
    <template>
      {{ block('groupSimpleCreateForm') }}
    </template>
  </turbo-stream>

  <turbo-stream action="append" targets="#created-groups-container">
    <template>
      {% include 'wedding/guest/list/partial/_accordion.html.twig' with {
        accordionItemId: createdGuestGroupDetailsDto.id,
        accordionItemName: createdGuestGroupDetailsDto.name,
        guestsListItemDto: [],
        weddingId: weddingId,
        groupId: createdGuestGroupDetailsDto.id
      } only %}
    </template>
  </turbo-stream>
{% endblock %}
