{% extends 'wedding/wedding-base.html.twig' %}

{% block page_heading %}
  <h1 class="h2">
    {{ 'wedding-details'|trans }}

    {{ weddingDetailsDto.name }}
  </h1>

  <a
      href="{{ path('wedding_table_create', { weddingId: weddingDetailsDto.id }) }}"
      class="btn btn-primary"
      data-bs-toggle="tooltip"
      data-bs-title="{{ 'add'|trans }}">
    <i class="bi bi-plus-circle"></i>
  </a>
{% endblock %}

{% block tab_content %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          #
        </th>

        <th>
          {{ 'first-name'|trans }}
        </th>

        <th>
          {{ 'last-name'|trans }}
        </th>
      </tr>
    </thead>

    <tbody>
      {% if tableGuestBuildDto.tablesGuestsBuildRowDto|length == 0 %}
        {% include 'partial/_empty-list-row.html.twig' with { emptyRowColspan: 3 } only %}
      {% endif %}

      {% for tableGuestBuildRowDto in tableGuestBuildDto.tablesGuestsBuildRowDto %}
        <tr class="table-info table-group-divider">
          <th colspan="2" scope="row">
            {{ tableGuestBuildRowDto.tableListItemDto.name }}
          </th>

          <td class="d-flex">
            <a
                href="{{ path('wedding_table_details', { weddingId: weddingDetailsDto.id, id: tableGuestBuildRowDto.tableListItemDto.id }) }}"
                class="btn btn-primary btn-sm me-1"
                data-bs-toggle="tooltip"
                data-bs-title="{{ 'details'|trans }}">
              <i class="bi bi-eye"></i>
            </a>

            <a
                href="{{ path('wedding_table_update', { weddingId: weddingDetailsDto.id, id: tableGuestBuildRowDto.tableListItemDto.id }) }}"
                class="btn btn-secondary btn-sm me-1"
                data-bs-toggle="tooltip"
                data-bs-title="{{ 'edit'|trans }}">
              <i class="bi bi-pencil"></i>
            </a>

            <form
                action="{{ path('wedding_table_delete', { weddingId: weddingDetailsDto.id, id: tableGuestBuildRowDto.tableListItemDto.id }) }}"
                method="post">
              <button
                  type="submit" class="btn btn-danger btn-sm"
                  data-bs-toggle="tooltip"
                  data-bs-title="{{ 'delete'|trans }}">
                <i class="bi bi-trash3"></i>
              </button>

              <input type="hidden" name="_method" value="DELETE">
            </form>
          </td>
        </tr>

        {% for guestDto in tableGuestBuildRowDto.guestsListItemDto %}
          <tr>
            <td>
              {{ loop.index }}
            </td>

            <td>
              {{ guestDto.firstName }}
            </td>

            <td>
              {{ guestDto.lastName }}
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}