{% extends 'wedding/wedding-base.html.twig' %}

{% block page_heading %}
  <h1 class="h2">
    {{ 'wedding-details'|trans }}

    {{ weddingDetailsDto.name }}
  </h1>

  <a
      href="{{ path('wedding_table_create', { weddingId: weddingDetailsDto.id }) }}"
      class="btn btn-primary"
      data-controller="tooltip"
      data-bs-title="{{ 'add'|trans }}">
    <i class="bi bi-plus-circle"></i>
  </a>
{% endblock %}

{% block tab_content %}
  {% for tableGuestBuildRowDto in tableGuestBuildDto.tablesGuestsBuildRowDto %}
    {% include 'wedding/table/list/partial/_accordion.html.twig' with {
      accordionItemId: tableGuestBuildRowDto.tableListItemDto.id,
      accordionItemName: tableGuestBuildRowDto.tableListItemDto.name,
      guestsListItemDto: tableGuestBuildRowDto.guestsListItemDto,
      weddingId: weddingDetailsDto.id,
      groupId: tableGuestBuildRowDto.tableListItemDto.id
    } only %}
  {% endfor %}

  <div class="row text-center">
    <div class="col-12 col-md-3 mb-3 mb-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-person-lines-fill"></i>
          </h5>

          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ 'number-of-seats'|trans }}
          </h6>

          <p class="card-text">
            {{ tableGuestBuildDto.numberOfSeats }}
          </p>

          <div class="progress" style="height: 25px;">
            <div class="progress-bar progress-bar-striped" style="width: {{ tableGuestBuildDto.numberOfSeatsPercentage }}%;">
              {{ tableGuestBuildDto.numberOfSeatsPercentage }}%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}