<footer class="bg-dark pt-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-4">
        <a href="{{ path('home_index') }}">
          <span class="light-mode-item navbar-brand-item fw-bold h4">
            <span class="d-block text-white">
              Wymarzone
            </span>

            <span class="d-block text-primary">
              Wesele
            </span>
          </span>

          <span class="dark-mode-item navbar-brand-item fw-bold h4">
            <span class="d-block">
              Wymarzone
            </span>

            <span class="d-block text-primary">
              Wesele
            </span>
          </span>
        </a>

        <p class="my-3 text-body-secondary">
          {{ 'plan-you-dream-wedding-description'|trans }}
        </p>

        <p class="mb-0">
          <a href="#" class="text-body-secondary text-primary-hover">
            <i class="bi bi-envelope me-2"></i>
            kontakt@wymarzone-wesele.pl
          </a>
        </p>
      </div>

      <div class="col-lg-7 ms-auto">
        <div class="row g-4">
          <div class="col-6 col-md-3 ms-lg-auto">
            <h5 class="text-white mb-2 mb-md-4">
              {{ 'shortcuts'|trans }}
            </h5>

            <ul class="nav flex-column text-primary-hover">
              <li class="nav-item">
                <a class="nav-link text-body-secondary" href="{{ path('home_index') }}">
                  {{ 'home-page'|trans }}
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-body-secondary" href="{{ path('dashboard_index') }}">
                  {{ 'wedding-planner'|trans }}
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-body-secondary" href="{{ path('home_index') }}">
                  {{ 'service-catalog'|trans }}
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-body-secondary" href="{{ path('security_login') }}">
                  {{ 'sign-in'|trans }}
                </a>
              </li>

              <li class="nav-item">
                <a
                    class="nav-link text-body-secondary"
                    href="{{ path('security_logout') }}"
                    data-turbo-prefetch="false">
                  {{ 'sign-up'|trans }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr class="mt-4 mb-0">

    <div class="row">
      <div class="container">
        <div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
          <div class="text-body-secondary text-primary-hover">
            Copyrights ©2024 Wymarzone-Wesele.pl. Build by

            <a href="https://blaj.app/" class="text-body-secondary">
              BLAJ
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>