<div class="accordion">
  <div class="accordion-item mb-3">
    <div class="d-flex justify-content-between">
      <div class="accordion-header flex-fill">
        <div
            class="accordion-button fw-bold"
            role="button"
            data-bs-toggle="collapse"
            data-bs-target="#task-group-{{ accordionItemId }}"
            aria-expanded="true"
            data-controller="guest-group-rename"
            data-guest-group-rename-id-value="{{ accordionItemId }}"
            data-guest-group-rename-wedding-id-value="{{ weddingId }}"
            data-guest-group-rename-locale-value="{{ app.request.locale }}">
          <span data-guest-group-rename-target="text">
            {{ accordionItemName }}
          </span>

          {% if accordionItemId != 'ungrouped' %}
            <div
                class="d-flex"
                data-bs-toggle="collapse"
                data-bs-target>
              <button
                  class="btn"
                  data-action="click->guest-group-rename#clickRename"
                  data-guest-group-rename-target="rename">
                <i
                    class="bi bi-input-cursor-text"
                    data-controller="tooltip"
                    data-bs-title="{{ 'rename'|trans }}"></i>
              </button>

              <label for="table-rename-{{ accordionItemId }}" class="visually-hidden form-label">
                {{ 'rename'|trans }}
              </label>

              <input
                  data-guest-group-rename-target="input"
                  id="table-rename-{{ accordionItemId }}"
                  class="d-none form-control"
                  type="text"
                  value="{{ accordionItemName }}">

              <button
                  class="btn d-none"
                  data-action="click->guest-group-rename#clickSave"
                  data-guest-group-rename-target="save">
                <i
                    class="bi bi-check-circle"
                    data-controller="tooltip"
                    data-bs-title="{{ 'save'|trans }}"></i>
              </button>

              <button
                  class="btn d-none"
                  data-action="click->guest-group-rename#clickCancel"
                  data-guest-group-rename-target="cancel">
                <i
                    class="bi bi-x-circle"
                    data-controller="tooltip"
                    data-bs-title="{{ 'cancel'|trans }}"></i>
              </button>
            </div>
          {% endif %}
        </div>
      </div>

      {% if accordionItemId != 'ungrouped' %}
        <div class="dropdown align-self-center">
          <button class="btn text-primary border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-gear"></i>
          </button>

          <ul class="dropdown-menu">
            <li>
              <a
                  class="dropdown-item"
                  href="{{ path('wedding_guest_group_details', { weddingId: weddingId, id: groupId }) }}">
                {{ 'details'|trans }}
              </a>
            </li>

            <li>
              <a
                  class="dropdown-item"
                  href="{{ path('wedding_guest_group_update', { weddingId: weddingId, id: groupId }) }}">
                {{ 'edit'|trans }}
              </a>
            </li>

            <li>
              <form
                  action="{{ path('wedding_guest_group_delete', { weddingId: weddingId, id: groupId }) }}"
                  method="post">
                <button type="submit" class="dropdown-item">
                  {{ 'delete'|trans }}
                </button>

                <input type="hidden" name="_method" value="DELETE">
              </form>
            </li>
          </ul>
        </div>
      {% endif %}
    </div>

    <div id="task-group-{{ accordionItemId }}" class="accordion-collapse collapse show">
      <div class="accordion-body table-responsive">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th></th>

              <th>
                {{ 'first-name'|trans }}
              </th>

              <th>
                {{ 'last-name'|trans }}
              </th>

              <th>
                {{ 'guest-type'|trans }}
              </th>

              <th>
                {{ 'invited'|trans }}
              </th>

              <th>
                {{ 'confirmed'|trans }}
              </th>

              <th>
                {{ 'accommodation'|trans }}
              </th>

              <th>
                {{ 'transport'|trans }}
              </th>

              <th>
                {{ 'diet-type'|trans }}
              </th>

              <th>
                {{ 'note'|trans }}
              </th>

              <th>
                {{ 'telephone'|trans }}
              </th>

              <th>
                {{ 'email'|trans }}
              </th>

              <th>
                {{ 'payment'|trans }}
              </th>

              <th>
                {{ 'actions'|trans }}
              </th>
            </tr>
          </thead>

          <tbody
              data-controller="guest-drag-and-drop"
              data-guest-drag-and-drop-wedding-id-value="{{ weddingId }}"
              data-guest-drag-and-drop-locale-value="{{ app.request.locale }}"
              data-group-id="{{ groupId }}">
            {% if guestsListItemDto|length == 0 %}
              {% include 'partial/_empty-list-row.html.twig' with { emptyRowColspan: 14 } only %}
            {% endif %}

            {% for guestDto in guestsListItemDto %}
              <tr data-guest-id="{{ guestDto.id }}">
                <td>
                  <i class="bi bi-list handle"></i>
                </td>

                <td>
                  {{ guestDto.firstName }}
                </td>

                <td>
                  {{ guestDto.lastName }}
                </td>

                <td>
                  {{ guestDto.type|trans }}
                </td>

                <td>
                  {{ guestDto.invited|yesOrNo }}
                </td>

                <td>
                  {{ guestDto.confirmed|yesOrNo }}
                </td>

                <td>
                  {{ guestDto.accommodation|yesOrNo }}
                </td>

                <td>
                  {{ guestDto.transport|yesOrNo }}
                </td>

                <td>
                  {{ guestDto.dietType|trans }}
                </td>

                <td>
                  {{ guestDto.note }}
                </td>

                <td>
                  {{ guestDto.telephone }}
                </td>

                <td>
                  {{ guestDto.email }}
                </td>

                <td>
                  {{ guestDto.payment }}
                </td>

                <td class="d-flex">
                  <a
                      href="{{ path('wedding_guest_details', { weddingId: weddingId, id: guestDto.id }) }}"
                      class="btn btn-primary btn-sm me-1"
                      data-controller="tooltip"
                      data-bs-title="{{ 'details'|trans }}">
                    <i class="bi bi-eye"></i>
                  </a>

                  <a
                      href="{{ path('wedding_guest_update', { weddingId: weddingId, id: guestDto.id }) }}"
                      class="btn btn-secondary btn-sm me-1"
                      data-controller="tooltip"
                      data-bs-title="{{ 'edit'|trans }}">
                    <i class="bi bi-pencil"></i>
                  </a>

                  <form
                      action="{{ path('wedding_guest_delete', { weddingId: weddingId, id: guestDto.id }) }}"
                      method="post">
                    <button
                        type="submit" class="btn btn-danger btn-sm"
                        data-controller="tooltip"
                        data-bs-title="{{ 'delete'|trans }}">
                      <i class="bi bi-trash3"></i>
                    </button>

                    <input type="hidden" name="_method" value="DELETE">
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>