{% extends 'dashboard-base.html.twig' %}

{% block title %}
  {{ 'table-update'|trans }}
{% endblock %}

{% block page_title %}
  {{ 'table-update'|trans }}
{% endblock %}

{% block page_content %}
  {{ form(form) }}

  <a href="{{ path('wedding_table_list', { weddingId: weddingId }) }}">
    {{ 'back-to-list'|trans }}
  </a>
{% endblock %}